section {
	margin: auto;
	width: 98%;
}
.one-message {
	overflow: hidden
}
.one-message img {
	float: left;
	height: 64px;
	margin-right: .5em;
}
.one-message .name-and-time {
	overflow: hidden;
}
.one-message .name-and-time .name {
	float: left;
}
.one-message .name-and-time .time {
	float: right;
}
textarea {
	resize: none;
	word-wrap: break-word;
	transition: 0.05s;
	-moz-transition: 0.05s;
	-webkit-transition: 0.05s;
	-o-transition: 0.05s;
}