<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/MainCtrl.js"></script>
	<script src="/js/AuthCtrl.js"></script>
	<script src="/js/elastic.js"></script>
</head>
<body ng-controller="MainCtrl">
	<header style="height:5em">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				<button ng-click="menuOpen = !menuOpen" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
					<a class="navbar-brand" href="#">Chatts</a>
				</div>
				<div ng-show="menuOpen">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" ng-init="showCustomAvatar = false" ng-click="showCustomAvatar = !showCustomAvatar" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Set custom avatar <span class="caret"></span></a>
							<form style="overflow:hidden" ng-show="showCustomAvatar" role="form" action="http://chatts.cf:8008/uploader" enctype="multipart/form-data" method="post">
								<input style="float:right" type="submit" value="Upload" class="btn btn-default" />
								<input style="float:right" id="avatarFile" type="file" name="avatar_file" />
							</form>
						</li>
						<li ng-controller="AuthCtrl"><a href="{{getLogoutURL()}}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<section class="text-center">
		<div class="panel panel-default">
			<ul class="list-group">
				<li class="list-group-item text-left one-message" ng-repeat="m in msg track by $index">
					<img ng-show="m.avatar_url.length>0" src="{{m.avatar_url}}" />
					<div class="name-and-time">
						<strong class="name">{{m.name}}</strong>
						<small class="time">{{m.time | date:'h:mm:ss a'}}</small>
					</div>
					<div>{{m.body}}</div>
					<audio ng-show="m.audio_url.length>0" autoplay>
						<source src="{{m.audio_url}}" type="audio/ogg">
					</audio>
				</li>
			</ul>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-10">
						<textarea style="width:100%;" ng-model="toSend" ng-enter="send()" msd-elastic placeholder="Type here..."></textarea>
					</div>
					<div class="col-sm-2">
						<button style="width:100%;" class="btn btn-default" ng-click="send()">Send</button>
					</div>
				</div>
			</div>
		</div>
		<audio autoplay>
			<source src="/audio/welcome.ogg" type="audio/ogg">
		</audio>
	</section>
</body>
</html>
