<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Login</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/AuthCtrl.js"></script>
	<script src="/js/elastic.js"></script>
</head>
<body ng-controller="AuthCtrl">
<section>
	<div class="page-header">
		<h1>Sign in</h1>
	</div>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">In order to chat, you have to signed in</h3>
		</div>
		<div class="panel-body">
			<p>Select the service you would like to sign in with:</p>
			<ul><li ng-repeat="m in loginMethods"><a href="{{m.url}}">{{m.title}}</a></li></ul>
		</div>
	</div>
</section>
</body>
</html>